# macOS
.DS_Store

# SwiftPM / Swift build artifacts
.build/
Packages/
Package.resolved
.swift-module-cache/

# Xcode
DerivedData/
dist/
*.xcworkspace/
xcuserdata/
*.xcuserstate

# Logs
*.log
logs/

# VSCode
*.vscode

# Build
build/